<div class="container">
  <div class="row">
    <div class="col m-4 p-4 " >
    
        <p class="display-4">Hola mi nombre es <%=current_dog.name %>  <br>
 y estoy muy contento/a pero</p>
       <p class="display-4 font-weight-bold ">Recójeme ya!</p>
    </div>
    <div class="col  p-2  m-3 ">
        <%= image_tag(current_dog.img_url, height: 400 ) %>
    </div>  
  
</div>